*{
  margin: 0;
  padding: 0;
  font-family: YuMincho;
  font-weight: 100;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

/*<!--  <naomikosaka> -->*/

.top-wrapper {
  color: white;
  text-align: center;
  font-size: 20px;
  letter-spacing: 5px;
}

.container {
  width: 550px;
  height: 200px;
  padding: 100px;
  margin: 80px auto 200px;
  background-color: black
}
.container {
  transition:all 0.2s;
}
.container:hover {
  background-color: darkgreen;
}

.top-wrapper-icon {
  line-height: 100px;
}

.top-wrapper-icon img {
  height: 75px;
  width: 120px;
  padding: 0;
  margin-top: 20px;
}

h1 {
  font-size: 40px;
}


/*<!-- <hello> -->*/
.hello-box {
  width: 370px;
  height: 340px;
  margin: 0 auto; 
  background-color: black;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
}

.hello {
  height: 340px;
  width: 370px;
  color: white;
  text-align: center;
  line-height: 340px;
  font-size: 30px;
  letter-spacing: 3px;
  z-index: 10000;
}

.hello-box:hover{
  border-radius: 50%;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

.hello:hover{
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}


.hello-link{
  font-size: 30px;
  color: white;
  letter-spacing: 5px;
  text-decoration: none;
  display: block;
  height: 340px;
  width: 370px;
}


/*<!-- <works> -->*/

.ttl {
  font-size: 30px;
  text-align: center;
  margin-top: 200px;
  letter-spacing: 5px;
}

.list {
  width: 900px;
  height: 600px;
  margin: 0 auto;
  margin-top: 20px;
}

li {
  list-style: none;
  float: left;
  width: 33.3%;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
}

img {
  width: 270px;
  height: 170px;
  padding: 50px;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);

}

img:hover {
 filter: none;
 -webkit-filter: grayscale(0%);
}

.list-ttl p {
  position: absolute;/*絶対配置*/
  color: white;
  top: 45%;
  left: 47%;
  font-size: 25px;
  letter-spacing: 3px;
  }


/*<!-- <contact> -->*/

.contact {
  width: 700px;
  height: 165px;
  margin: 100px auto;
  background-color: black;
  text-align: center;
  line-height: 165px;
  transition:all 0.8s;
}

.contact:hover {
  background-color: white;
  border: 1px solid black;  
}

.contact:hover a{
  color: black;
  letter-spacing: 10px;
}

.contact-link{
  font-size: 30px;
  color: white;
  letter-spacing: 5px;
  text-decoration: none;
  display: block;
  height: 165px;
  width: 700px; 
}


/*index3.html*/

.ribbon-icon {
 text-align: center;
}

.section-title {
  margin: 0 auto 50px;
  text-align: center;
}

h3 {
  font-size: 55px;
  letter-spacing: 3px;
  font-weight: 300;
}

 dt {
 text-align: center;
 margin-bottom: 50px;
}

.contact-form {
  width: 700px;
  height: 500px;
  padding: 100px;
  padding-right: 20px;
  margin: 0 auto 100px;
  background-color: darkgreen;
}

.name {
  width: 690px;
  height: 490px;
}

input, textarea {
 width: 600px;
 height: 40px;
 margin-top: 10px;
 margin-bottom: 30px;
 font-size: 20px;
}

.details {
 height: 150px;
}

.contact-submit {
  height: 40px;
  width: 130px;
  background-color:white;
  color: black;
  border-radius: 8px;
}
.contact-submit:hover {
  background-color: #AAAAAA;
  color: white;  
}

/*index5.html*/

.ribbon-icon {
 text-align: center;
}

.section-title {
  margin: 0 auto 50px;
  text-align: center;
}

h2 {
  font-size: 55px;
  letter-spacing: 3px;
  font-weight: 300;
}

#photo{
  height: 500px;
  width: 1000px;
  margin: 80px auto;
}

.text_area {
  width: 517px;
  height: 100px;
  padding: 30px 100px;
  margin:  100px auto; 
}

.tweet_area {
  width: 517px;
  height: 100px;
  padding: 0px 100px;
  margin:  100px auto;
}


/* =====================
   Media Queries
  ===================== */


@media(max-width: 767px){

 .container{
    width: 100%;
  } 
 
 .sp-none{
    display: none;
  }

 /*<!--<naomikosaka>-->*/

.container{
  width: 50%;
}
.top-wrapper-icon {
  line-height: 70px;
}

/*<!-- <works> -->*/
.ttl{
  margin: 40% 0 10%;
}

.lose { 
  display: none;
}

li {
 width: 300px;
 float: none;
 margin-top: -4%;
 } 

/*<!--<contact>-->*/
.contact {
 width: 300px;
/* float: none;*/
 margin-top: 70%;
}

.contact-link {
 display: inline;
}


/*<!--<index3.html.media>-->*/

dt {
  font-size: 13px;
}

.contact-form {
 width: 220px;
 float: none;
}

.name {
  width: 250%;
  margin: 0 -70px;
}

input, textarea {
 width: 50%;
 font-size: 17px;
}


}







